/* variable declaration */
:root {
  --top: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body{
  font-family: Fredoka, Poppins;
  line-height: 1;
  font-weight: 400;
}
/* ---------- Reusable button element------------ */
button {
  background-color: #fe5e35;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.6rem;
  border-radius: 3rem;
}

/* ------------------------------ */

/* ---------- NAVBAR ------------ */
header {
  margin:0 auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap:4rem;
  padding-left: 4.8rem;
  height: 9.6rem;;
}

.nav-items {
  font-size: 1.2rem;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  gap:4rem;

}
.nav-item{
  font-size: 1.6rem;;
  font-weight: 700;
  cursor: pointer;
}


/* ---------- hero section ------------ */
.hero-section {
  margin: 0 auto;
  max-width: 130rem;
  padding:3.2rem 0;
}

.hero{
  display: flex;
  padding:0 4.8rem;
}

/* ---------- Left Side ------------ */

.left-section {
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.heading-1{
  display:flex;
  align-items: center;
  gap:4rem;
}
.left-section h3 {
  font-size: 3rem;
}

.heading-1 img {
  height: 3rem;
  
}
.left-section h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.sub-headlines {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.sub-headline {
  font-size: 1.6rem;
  margin-left: 15%;
}
.sub-headline img {
  background-color: #fe5e35;
  border-radius: 50%;
  height: 12px;
  padding: 6px;
  margin-right: 1.2rem;
 transform:translateY(6px);
}

.text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.action-btns {
  display: flex;
  gap: 2rem;
}
/* ---------- Right Side ------------ */

.right-section {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 3rem;
  margin-top: -6rem;
  margin-left: -5rem;;
}

.headphone-div {
  justify-self: center;
  display: flex;
  position: relative;
}

.discount-content{
  position:absolute;
  bottom: 20px;
  left: -20px;
}

.discount-text{
  position:absolute;
  top:4rem;
  left:3rem;
  z-index: 1;
  color:#fff;
  display: grid;
  gap:0.5rem;
}

.discount-text h4{
  font-size: 1.2rem;
}
.discount-text h1{
  font-size: 2.4rem;
}
.discount-bg{
  height: 10rem;
  /* position:relative; */
}


.headphone {
   height: 36rem;
}

.dots {
  display: flex;
  gap: 20px;
  justify-self: center;
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.yellow-dot {
  background-color: yellow;
}
.tomato-dot {
  background-color: orange;
}
.black-dot {
  background-color: #000;
}

.action-btn {
  justify-self: center;
}



 /**************************/
/* VIEW BELOW 544px (Phones) */
/* 16px * 34 = 544px  */
/**************************/

@media (max-width:34em){
  .nav-items{
    /*Hide navigation */
    display: none;
  }

  .hero{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap:6rem;
  }
  .right-section {
    width: 80%;
    
    margin-top: 0rem;
    margin-left: 0rem;;
  }

  
.left-section {
  
  align-self: center;
  justify-self: center;
}
 }
/* ------------------------------ */